.categorii {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        text-align: center;
        background-color: gray;
        color: white;
        margin: 1rem;
        padding: 3rem;
        border-radius: 0.3rem;
        transition: 0.33s;
        
        &:hover {
            overflow: hidden;
            transform: scale(1.05);
        }
    }
}