.meniu {
    background-color: gray;
    height: 100%;

    h1 {
        padding-top: 0.5rem;
        color: white;
        text-align: center;
    }
}

.categorii {
    background-color:darkgray;
    margin: 0.4rem;
    padding: 1rem;
}

.categorie {
    text-align: center;
}