.meniu
    h1 Orice vrei
    .categorii
        .categorie
            a(href="/mancare")
                img(src="asset/image/categorii/fripturi.jpg", alt="mancare")
        .categorie
            a(href="/bauturi")
                img(src="asset/image/categorii/sucuri.jpg", alt="mancare")