.menu-input {
    display: none;
}

.menu-label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 7px 5px;
    cursor: pointer;
}

.header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 2.4rem;
    padding: 0.4rem 0;
    z-index: 10;
}

.menu-links {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: 0.33s;
    text-align: center;
    background-color: #111;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.menu-label:hover {
    .bar1, .bar2, .bar3 {
        background-color: gray;
    }
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.links a {
    display: block;
    text-decoration: none;
    color: gray;
    transition: 0.3s;
    font-size: 1.5rem;
    padding: 0.5rem;

    &:hover {
        color: white;
    }
}

.location {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    margin-right: 6.5rem;

    a {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        position: relative;
        top: 6px;
    }
}

@media screen and (min-width: 768px) {
    .header-wrapper,
    .menu-links {
        all: unset;
        justify-content: space-between;
    }

    .menu-label {
        display: none;
    }

    header {
        height: 57px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        // display: flex;
        justify-content: space-between;

        div {
            margin: 0.1rem 1.5rem;
        }
    }

    .header-logo {
        position: absolute;
        top: 6px;
        left: 4rem;
    }

    .links {
        margin-left: 14rem;
        margin-top: 1.2rem;
        position: relative;
        display: flex;
        top: 10px;

        a {
            font-size: 1.3rem;
            color: white;

            &:hover {
                color: gray;
            }
        }
    }

    .location {
        top: 20px;
        margin-right: 20px;

        span {
            float: left;
            top: -2px;
        }
    }
}