.menu-input {
    display: none;
}

.menu-label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 7px 5px;
    cursor: pointer;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: lightblue;
    z-index: 10;
}

.header-logo {
    width: 100px;
    height: 50px;
    background-color: navy;
}

.menu-links {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: 0.33s;
    text-align: center;
    background-color: #111111;
}

.menu-links a {
    display: block;
    color: lightgray;
    text-decoration: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}