header
    .header-wrapper
        .header-logo
            span.header-logo-span
        .header-menu
            input.menu-input(type="checkbox" id="menu")
            label.menu-label(for="menu" onclick="showMenu()")
                .bar1
                .bar2
                .bar3
    .menu-links
        .links
            a(href="#" onclick="closeMenu()") Home
            a(href="/bauturi" onclick="closeMenu()") Bauturi
            a(href="/mancaruri" onclick="closeMenu()") Mancaruri


script
    include header.js