header
    .header-wrapper
        .header-logo
            img(src="asset/image/logo.png", alt="logo")
        .header-menu
            input.menu-input(type="checkbox" id="menu")
            label.menu-label(for="menu" onclick="showMenu()")
                .bar1
                .bar2
                .bar3
    .menu-links
        .links
            a(href="#" onclick="closeMenu()") Home
            a(href="#" onclick="closeMenu()") Bauturi
            a(href="#" onclick="closeMenu()") Mancaruri
    .location
        a(href="https://www.google.com/maps") Gasiti un magazin
            span(class="material-icons") &#xe55f;


script
    include header.js
