.container-slideshow
    each slide in data.slideshow
        .slides.fade
            .numberText=slide.numberText
            img(src=slide.image, style="width:100%")
            .text=slide.text

    a.prev(onclick="plusSlides(-1)") &#10094;
    a.next(onclick="plusSlides(1)") &#10095;

script
    include slideshow.js