extends _component/layout/layout

block config
    -
        var title="BigBar in cartier"
            description="This is a big bar in our city and i decided to make a site.";
            author="Alexandru Puiu";

block content
    include _component/header/header
    .content
        include _component/slideshow/slideshow